@import './burguer.css';
@import './button.css';
@import './animations.css';
@import './inputArea.css';
@import './views.css';

.container {
  padding: 1%;
}

header .dropdown {
  border: 1px solid black;
  margin: 1%;
}

header .dropdown.open {
  border: 1px solid black;
  border-right: 0px;
  margin: 0%;
  border-radius: 2px;
}

header .dropdown ~ .setUpArea {
  display: none;
}

header .dropdown.open ~ .setUpArea {
  display: flex;
  animation: ghost 0.5s forwards;
}

header .container {
  display: flex;
  align-items: center;
}

header .setUpArea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1%;

  width: 90%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-width: 600px;
}

main .container {
  display: flex;
  justify-content: center;
}
